.background{
    background-color: #1F1C2C;
}
nav{
    background-color: black;
    border: 3px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
nav ul{
    display: flex;
    color: white;
}
nav li{
    display: inline-flex;
    margin-right: 30px;
}

nav li:hover{
    color: bisque;
    font-size: large;
}
nav li:active{
    color: rgb(101, 171, 236);
    font-size: larger;
}
nav li:hover:first-child{
    color: white;
    font-size:initial;
}
nav li:active:first-child{
    color: white;
    font-size:initial;
}
.messages li{
    border: 5px solid #928DAB;
    background-color: white;
    padding: 30px;
    border-radius:10px;
}
.messages li:first-child{
    margin-top: 30px;
}
.text{
    text-align: left;
    list-style-type: none;

}
.text_0{
    grid-area: text_0;
}
.text_1{
    grid-area: text_1;
}

.text_2{
    grid-area: text_2;
}

.text_3{
    grid-area: text_3;
}

.text_4{
    grid-area: text_4;
}

.Text-container{
    border: 2px solid;
    align-items: flex-end;
    background-color: #928DAB;
    border-radius: 10px;
    /* margin-top: 100%; */
}
#message-input{
    grid-area: message-input;
    border: 3px gray solid;
    border-radius: 10px;
}
#send-button{
    grid-area: send-button;
    border: 3px solid;
    background-color: #4C585B;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}
#send-button:hover{
    background-color: #7E99A3;
}
#send-button:active{
    background-color: #A5BFCC;
}
.input-area{
    padding: 30px;
    display: grid;
    grid-template-areas:   "text_0       text_0        text_0      text_0        text_0        text_0        text_0"
                           "text_1       text_1        text_1         text_1        text_1        text_1        text_1"
                           "text_2      text_2        text_2         text_2        text_2        text_2        text_2"
                           "text_3       text_3        text_3         text_3        text_3       text_3        text_3"
                           "text_4       text_4       text_4         text_4        text_4        text_4        text_4"
                        " message-input message-input message-input  message-input message-input message-input send-button";
}