.background{
    background-color: gray;
}
nav{
    background-color: black;
    border: 3px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
nav ul{
    display: flex;
    color: white;
}
nav li{
    display: inline-flex;
    margin-right: 30px;
}
nav li:hover{
    color: bisque;
}
nav li:hover:first-child{
    color: white;
}
.Text-container{
    border: 2px black solid;
    align-items: flex-end;
    background-color: black;
    border-radius: 10px;
    margin-top: 100%;
}
#message-input{
    grid-area: message-input;
}
#send-button{
    grid-area: send-button;
}
.input-area{
    padding: 30px;
    display: grid;
    grid-template-areas: "message-input message-input message-input  message-input message-input message-input send-button";
}